/* ============================================================================================ */
/* ===                                *White*    ^_^       dr                                  === */
/* ============================================================================================ */
/*

	========================
	==		CONTENTS:     ==
    ========================

	- GLOBAL STYLES
		- body background
		- link styles
		- heading styles

	- LAYOUT STYLES;
	 	- site body
	 	- page body		

	- HEADER STYLES
		- meta menu
		- header background

	- MAIN MENU STYLES
		- menu background
		- top level link styles
		- drop down menu styles

	
	
*/





/* ====== GLOBAL STYLES======================================================================== */

	/* ~~~~~ Body Background ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
		
		#container {
			background: #eeeeee;
			color:#191919;
			}

	/* ~~~~~ Link Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		a, a:link, a:visited { 
			color: #191919;
			}

		a:focus, a:active, a:hover { 
			color: #191919;
			}

	/* ~~~~~ Heading Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		body #container h1{color:#191919;}
		body #container h2{color:#191919;}
		body #container h3{color:#191919;}
		body #container h4{color:#191919;}
		body #container h5{color:#191919;}
		body #container h6{color:#191919;}
	
h2{font-size:28.5px;}  /* Fixed Master template making h2 too large */
/* ======= end of GLOBAL STYLES ========================================================= */

/* ====== CYCLE PLUG-IN STYLES  ================================================================ */

.slideshow img {display:none; margin:4px;} 
.slideshow img.first {display: block;}

/* ======= end CYCLE PLUG-IN STYLES ========================================================= */

/* ====== BUTTON STYLES  ================================================================ */

body #container input[type=submit],
body #container input[type=reset],
body #container input[type=button],
body #container button,
body #container .btn,
body #container .homelinks article a,
body #container .module_propertycontact button{color:#191919 !important;}
/* Hover Buttons */
body #container input[type=submit]:focus,
body #container input[type=submit]:active,
body #container input[type=submit]:hover,
body #container input[type=reset]:focus,
body #container input[type=reset]:active,
body #container input[type=reset]:hover,
body #container input[type=button]:focus,
body #container input[type=button]:active,
body #container input[type=button]:hover,
body #container button:focus,
body #container button:active,
body #container button:hover,
body #container .btn:focus,
body #container .btn:active,
body #container .btn:hover,
body #container .homelinks article a:focus,
body #container .homelinks article a:active,
body #container .homelinks article a:hover,
body #container .module_propertycontact button:focus,
body #container .module_propertycontact button:active,
body #container > footer > .pos .module.module_footerlinks ul li a, body #container > 
footer > .pos .module.module_footerlinks ul li a:link, body #container > footer > 
.pos .module.module_footerlinks ul li a:visited
body #container .module_propertycontact button:hover{background-color:#191919!important; color:#eeeeee!important;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~ Alternate-Style Buttons ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body #container button.alt,
body #container .btn-alt,
body #container .module_featuredsearches article > a,
body #container #col-center > .pos > .module.module_featuredsearches > section article,
body #container #col-center > .pos > .module.module_featuredsearches > .content article > a{color:#eeeeee;}
/* Hover Buttons */
body #container button.alt:focus,
body #container button.alt:active,
body #container button.alt:hover,
body #container .btn-alt:focus,
body #container .btn-alt:active,


body #container .btn-alt:hover,
body #container .module_featuredsearches article > a:focus,
body #container .module_featuredsearches article > a:active,
body #container .module_featuredsearches article > a:hover,
body #container #col-center > .pos > .module.module_featuredsearches > section article > a:focus,
body #container #col-center > .pos > .module.module_featuredsearches > section article > a:active,
body #container #col-center > .pos > .module.module_featuredsearches > section article > a:hover,
body #container #col-center > .pos > .module.module_featuredsearches > .content article > a:focus,
body #container #col-center > .pos > .module.module_featuredsearches > .content article > a:active,
body #container #col-center > .pos > .module.module_featuredsearches > .content article > a:hover{color:#191919;}
div.a-i{color:#191919 !important;}

/* ====== end of BUTTON STYLES  ===================================================== */





/* ====== LAYOUT STYLES  =========================================================== */

	

	/* ----- Site Body --------------------------------------------------------*/

	/* Wraps everything between Header and Footer in 980px fixed width div*/

		body #container > #body{color:#191919;}
	

	/* ----- Page Body ------------------------------------------------------------- */

	/* Allows you to specifiy styles for the Main Content and Right Col for the whole site.*/

		#container .module.module_templatepage {padding:1em;}
    #container .module.module_formpage {padding:1em;}
	#container .PH_NeighborhoodReportPlaceHolder{padding:1em;}

		/* ~~~~~ Main Column ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			body #container #body #col-center.col{}
				body #container #body #col-center.col > .pos{
					padding:1em;
				}


		/* ~~~~~ Right Column ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			body #container #body #col-side-b.col{}
				body #container #body #col-side-b.col > .pos{
					padding: 1em;
				}


	
	/* flips right column to the left column */
		/*
		#container #body #col-side-b {clear:left; }  
		#container #body #col-center {float: right;}
		*/			

/* ====== end of  LAYOUT STYLES  ====================================================== */





/* ====== HEADER STYLES ===================================================================== */

	/* ~~~~~ Meta Menu (Home - Contact - My Home Tracker -- Log In) ~~~~~~~~~~~~~~ */
	
		
		 body #container > header > .pos > #nav_head{padding-top:15px; float:right;} 
		 body #container > header > .pos > #nav_head ul{}
		 body #container > header > .pos > #nav_head ul li{}

					/* Regular Links */
					#nav_head ul li a,
					#nav_head ul li a:link,
					#nav_head ul li a:visited{ }

					/* Hover Links */
					#nav_head ul li a:focus,
					#nav_head ul li a:active,
					#nav_head ul li a:hover{ }


	
	/* ~~~~~ Header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */

	/*
		A Note on Header Backgrounds:  
			-To set background 100% across, set background on  <header>.
			-To set background on fixed width 980px part, set background on  header > .pos
			- header > .pos had default height of 125px, so you may be to add height property
	*/

		 #container > header {	}
		 #container > header > .pos{
		  background-image:url(/CustomData/150017456/images/header.png); 
		  height:206px; 
		  width:980px; 
		  background-position:center; 
		  background-repeat:no-repeat;
		 }
		 
		/*Header Contact Info - Name, Office Information */
			body #container > header > .pos .module.module_branding{display:none;} 
			body #container > header > .pos .module.module_branding > section,
			body #container > header > .pos .module.module_branding > .content{}
			
			

/* ======= end of HEADER STYLES =============================================================== */






/* ====== MAIN MENU STYLES ======================================================================= */

	/*
		A Note on Main Nav Backgrounds:  
			-To set background 100% across, set background on #container > #nav_main
			-To set background on fixed width 980px part, 
				set background on  #container > #nav_main > .nav_main,  it WILL need !important 
	*/

		/* Top Level Nav Controls (background, etc.) */
			body #container > #nav_main{
			border:none; 
			background:url(/CustomData/150017456/images/navback.png) repeat-x; 
			height:45px; 
			width:980px;
			margin:0px auto 0px;
			}
			body #container > #nav_main > .nav_main{}
			body #container > #nav_main > .nav_main > ul{}


		/* ~~~~~ Top Level Items ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			body #container > #nav_main > .nav_main > ul > li{padding-top:4px;}

		/* Regular Links */
			body #container > #nav_main > .nav_main > ul > li > a,
			body #container > #nav_main > .nav_main > ul > li > a:link,
			body #container > #nav_main > .nav_main > ul > li > a:visited,
			body #container > #nav_main > .nav_main > ul > li.ui-menu-item > a,
			body #container > #nav_main > .nav_main > ul > li.ui-menu-item > a:link,
			body #container > #nav_main > .nav_main > ul > li.ui-menu-item > a:visited
			{font-size:18px; 
			width:196px; 
			text-align:center; 
			margin-left:17px;
			line-height:2;
			}

		/* Hover Links */
			body #container > #nav_main > #ui-active-menuitem,
			body #container > #nav_main > .nav_main > ul > li > a:focus,
			body #container > #nav_main > .nav_main > ul > li > a.ui-state-focus,
			body #container > #nav_main > .nav_main > ul > li > a:active,
			body #container > #nav_main > .nav_main > ul > li > a.ui-state-active,
			body #container > #nav_main > .nav_main > ul > li > a:hover,
			body #container > #nav_main > .nav_main > ul > li > a.ui-state-hover,
			body #container > #nav_main > .nav_main > ul > li > a.ui-active-menuitem{color:#191919; text-decoration:underline;}


		/* ~~~~~ Drop Down Menus ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			body #container > #nav_main > .nav_main > ul > li > ul{background-color:#eeeeee; margin-left:20px; margin-top:3px;}
			body #container > #nav_main > .nav_main > ul > li > ul > li{color:#191919;}
		/* Regular Links */
			body #container > #nav_main > .nav_main > ul > li > ul > li > a,
			body #container > #nav_main > .nav_main > ul > li > ul > li > a:link,
			body #container > #nav_main > .nav_main > ul > li > ul > li > a:visited{color:#191919; font-weight:bold;  padding:10px; font-size:10pt!important;}
		/* Hover Links */
			body #container > #nav_main > .nav_main > ul > li > ul > li > a:focus,
			body #container > #nav_main > .nav_main > ul > li > ul > li > a:active,
			body #container > #nav_main > .nav_main > ul > li > ul > li > a:hover{color:#eeeeee; background:#191919; font-weight:bold;}
			
			
/* ======= end of MAIN MENU STYLES ============================================================= */





/* ====== FOOTER STYLES ======================================================================= */

		/* ~~~~~ Footer Content Wrapper ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			body #container > footer .foot_content{color:#191919;}
			body #container > footer .foot_content a{color:#191919;} 
			body #container > footer .foot_content > .pos{color:#191919; padding:1em;} 


		/* ~~~~~ Business Card ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			body #container > footer .foot_content .module.module_bizcard{color:#191919;}
		/* Header */
			body #container > footer .foot_content .module.module_bizcard > header{color:#191919;}
		/* Title */
			body #container > footer .foot_content .module.module_bizcard > header > *
			body #container > footer .foot_content .module.module_bizcard > header hgroup > *{color:#191919;}
			body #container > footer .foot_content .module.module_bizcard > section,
			body #container > footer .foot_content .module.module_bizcard > .content{color:#191919;}
		/* Address */
			body #container > footer .foot_content .module.module_bizcard > section .adr,
			body #container > footer .foot_content .module.module_bizcard > .content .adr{color:#191919;}
			footer .module.module_bizcard .adr span{color:#191919;}


		/* ~~~~~ Custom Content ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			body #container > footer .foot_content .module.module_customcontent{color:#191919;}
		/* Header (works on default content only) */
			body #container > footer .foot_content module.module_customcontent > header{color:#191919;}
		/* Title (works on default content only) */
			body #container > footer .foot_content .module.module_bizcard > header > *
			body #container > footer .foot_content .module.module_bizcard > header hgroup > *{color:#191919;}
		/* Content */
			body #container > footer .foot_content .module.module_customcontent > section,
			body #container > footer .foot_content .module.module_customcontent > .content{color:#191919;}
		/* Custom Titles */
			body #container > footer .foot_content .module.module_customcontent h1,
			body #container > footer .foot_content .module.module_customcontent h2,
			body #container > footer .foot_content .module.module_customcontent h3,
			body #container > footer .foot_content .module.module_customcontent h4,
			body #container > footer .foot_content .module.module_customcontent h5,
			body #container > footer .foot_content .module.module_customcontent h6{color:#191919;}


		/* ~~~~~ Disclaimer Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			body #container > footer > .pos .module.module_disclaimer{color:#191919;}
		/* Content */
			body #container > footer > .pos .module.module_disclaimer > section,
			body #container > footer > .pos .module.module_disclaimer > .content{color:#191919;}
		/* Default Text */
			body #container > footer > .pos .module.module_disclaimer small{color:#191919;}
		/* Credit Text */
			body #container > footer > .pos .module.module_disclaimer .credits{color:#191919;}
		/* Copyright Text */
			body #container > footer > .pos .module.module_disclaimer .copyright{color:#191919;}
		/* Regular Links */
			body #container > footer > .pos .module.module_disclaimer a,
			body #container > footer > .pos .module.module_disclaimer a:link,
			body #container > footer > .pos .module.module_disclaimer a:visited{color:#191919;}
		/* Hover Links */
			body #container > footer > .pos .module.module_disclaimer a:focus,
			body #container > footer > .pos .module.module_disclaimer a:active,
			body #container > footer > .pos .module.module_disclaimer a:hover{color:#191919;}


		/* ~~~~~ Footer Link Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			body #container > footer > .pos .module.module_footerlinks{color:#191919;}
		/* Content */
			body #container > footer > .pos .module.module_footerlinks > section,
			body #container > footer > .pos .module.module_footerlinks > .content{color:#191919;}
		/* List */
			body #container > footer > .pos .module.module_footerlinks ul{color:#191919;}
		/* List Items */
			body #container > footer > .pos .module.module_footerlinks ul li{color:#191919;}
		/* Sitemap Item */
			body #container > footer > .pos .module.module_footerlinks .sitemap{color:#191919;}
		/* Login Item */
			body #container > footer > .pos .module.module_footerlinks .loginlink{color:#191919;}
		/* Regular Links */
			body #container > footer > .pos .module.module_footerlinks ul li a,
			body #container > footer > .pos .module.module_footerlinks ul li a:link,
			body #container > footer > .pos .module.module_footerlinks ul li a:visited{color:#191919;}
		/* Hover Links */
			body #container > footer > .pos .module.module_footerlinks ul li a:focus,
			body #container > footer > .pos .module.module_footerlinks ul li a:active,
			body #container > footer > .pos .module.module_footerlinks ul li a:hover{color:#191919;}

/* ======= end of FOOTER STYLES ============================================================= */





/* ====== GLOBAL MODULE STYLES ========================================================= */

		/* ~~~~~ Begin Interior Pages, Main Column ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			#container #body #col-center .module{}
		/* Header */
			#container #body #col-center .module > header{}
		/* Title */
			#container #body #col-center .module > header > *,
			#container #body #col-center .module > header hgroup > *{}
		/* Content */
			#container #body #col-center .module > section,
			#container #body #col-center .module > .content{}
		/* Footer */
			#container #body #col-center .module > footer{}
		/* ~~~~~ End Interior Pages, Main Column ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		/* ~~~~~ Begin Interior Pages, Right Column ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			#container #body #col-side-b .module{}
		/* Header */
			#container #body #col-side-b .module > header{}
		/* Title */
			#container #body #col-side-b .module > header > *,
			#container #body #col-side-b .module > header hgroup > *{}
		/* Content */
			#container #body #col-side-b .module > section,
			#container #body #col-side-b .module > .content{}
		/* Footer */
			#container #body #col-side-b .module > footer{}
		/* ~~~~~ End Interior Pages, Right Column ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		 /* ~~~~~  Home Page Module Selector Reference ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
	 #bd_home #container #body #col-center .module.module_featuredlisting {border:none; margin-top:8px;}
	 #bd_home #container #body #col-center .module.module_featuredlisting section{padding:6px;}
	 #bd_home #container #body #col-center .module.module_featuredlisting h3{text-align:center; font-size:18px; color:#282828!important; background:url(/CustomData/150017456/images/line.png) no-repeat; background-position:center bottom; background-size:420px 1px;}
	 #bd_home #container #body #col-center .module.module_featuredsearches{border:none;}
	 #bd_home #container #body #col-center .module.module_featuredsearches h3{ text-align:center; font-size:18px; color:#282828!important;  background:url(/CustomData/150017456/images/line.png) no-repeat; background-position:center bottom; background-size:420px 1px;}
			#bd_home #container #body #col-center .module.module_search {}
			#bd_home #container #body #col-center .module.module_customcontent{}
			#bd_home #container #body #col-side-b .module.module_bizcard {}
			#bd_home #container #body #col-side-b .module.module_propertycontact{}
			#bd_home #container #body #col-side-b .module.module_localpropertysearch,
		    #bd_home #container #body #col-side-b .module.module_localareasearch{}
		    #bd_home #container #body #col-side-b .homelinks{}
		/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		/* ~~~~~ Module Selector Reference ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			 #container #body #col-center .module.module_featuredlisting{}
			 #container #body #col-center .module.module_featuredsearches{}
			 #container #body #col-center .module.module_search {
			 }
			 #container #body #col-center .module.module_customcontent{}
			 #container #body #col-side-b .module.module_bizcard {}
			 #container #body #col-side-b .module.module_propertycontact{}
			 #container #body #col-side-b .module.module_localpropertysearch,
			 #container #body #col-side-b .module.module_localareasearch{}
			 #container #body #col-side-b .homelinks{}
		/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
		
		/* ~~~~~ Begin Featured Listings Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
			.module.module_featuredlisting {}
			.module.module_featuredlisting header h3{font-size:28px; color:#191919;}
			.module.module_featuredlisting .morelistings{color:#191919; text-decoration:underline;}

			.module.module_featuredlisting .description,
			.module.module_featuredlisting .courtesyof,
			.module.module_featuredlisting .street-address,
			.module.module_featuredlisting .locality,
			.module.module_featuredlisting .region,
			.module.module_featuredlisting .postal-code,
			.module.module_featuredlisting .price,
			.module.module_featuredlisting .type{color:#191919;}
		/* ~~~~~ End Featured Listings Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
		
		/* ~~~~~ Begin Quick Search Module Horizontal ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		/* Turn Module On/Off, Set background, style, border */
			#module_Properties{width:95%; margin:0px auto 0px; border:none!important;} 

		/* Search module headings */
			body #container #body .module.module_search > header > h2,
			body.bd_advancedssearch #container #body .module.module_search > header > h2,
			body#bd_openhouse #container #body #col-center .module.module_search > header > h2{}
			.module.module_search > header{display:inline;}

		/* Subtitles, listing counts on search result pages */
			body #container #body .module.module_comparehomesresults > header hgroup h3,
			body #container #body .module.listings_compare > header hgroup h3,
			body #container #body .module.module_listingcount > header h3{}
			
			body #container #body .module.module_comparehomesresults > header hgroup h4,
			body #container #body .module.listings_compare > header hgroup h4{}

		/* Button Text Color */
			#ctl00_MainContentPlaceholder_ctl00_btnSimpleSearch{color:#191919 !important;}
			#ctl00_MainContentPlaceholder_ctl00_c_AdvSearch_advSubmitBtn{color:#191919 !important;}
			#container > #body .module.module_search > section fieldset li a.searchoptions, #container > 
			#body .module.module_Properties > section fieldset li a.searchoptions, #container > 
			#body .module.module_Agents > section fieldset li a.searchoptions, #container > #body .module.module_Offices > 
			section fieldset li a.searchoptions, #container > #body .module.module_search > 
			.content fieldset li a.searchoptions, 
			#container > #body .module.module_Properties > .content fieldset li a.searchoptions, 
			#container > #body .module.module_Agents > .content fieldset li a.searchoptions, 
			#container > #body .module.module_Offices > .content fieldset li a.searchoptions{color:#191919;}

		/* Labels Text Color */
			.module.module_search label{color:#191919;}

		/* ~~~~~ End Quick Search Module Horizontal ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		/* ~~~~~ Begin Quick Search Module Vertical ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			#bryansSearch #ctl00_MainContentPlaceholder_HomePage1_mySearchMaster_uc_pnlProperties {
				float:right;
				width:230px;
				height:265px;
				margin-top:-6px;
				margin-left:-2px; 
				text-align:center;
				border:3px solid #191919;
				background:;
			}
			.module.module_search{margin-left:7px;}
			.module.module_search h2{font-size:24px;}
			.searchtext {width:185px !important;}
			.searchtext label span{color:#191919 !important;}
			.minprice {width:90px !important;}
			.minprice label span{color:#191919 !important;}
			.maxprice {width:90px !important;}
			.maxprice label span{color:#191919 !important;}
			.beds {width:90px !important;}
			.beds label span{color:#191919 !important;}
			.baths {width:90px !important;}
			.baths label {color:#191919 !important;}
			.module.module_search button {margin-left:15px; width:150px;}
			.module.module_search li .searchoptions{display:none;}
			
			.module.module_search{color:#191919 !important;}

		/* ~~~~~ End Quick Search Module Vertical ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		/* ~~~~~ Begin Local Area Search Module (Alphabet City Search) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

			body #container #body #col-side-b .module.module_localareasearch{}

		/* ~~~~~ End Local Area Search Module (Alphabet City Search) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


		/* ~~~~~ Begin Home Tracker and Neighborhood Values Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

			.homelinks {}

		/* ~~~~~ End Home Tracker and Neighborhood Values Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		/* ~~~~~ Begin Contact Form Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
		
		/* Controls upper portion of right col (around the client name) */
			#col-side-b .module.module_bizcard {
			position:relative; 
			background-image:url(); 
			} 

		/* Right column contact form header - */
			#col-side-b .module.module_bizcard header { 
			padding-right:15px; 
			padding-left:10px;	
			background:url() no-repeat; 
			border:none;} 

		/*Controls upper portion of right col (around the client phone #) */
			#col-side-b .module.module_bizcard section, #col-side-b .module.module_bizcard .content {
			background:url() repeat-y; 
			border:none; 
			zoom:1; 
			overflow:hidden;} 

		/*Controls portion of right col (around the request more info) */
			#col-side-b .module.module_propertycontact header { 
			 
			padding-left:10px;
			background:url() repeat-y; 
			border:none;
			}

		/*Controls portion of right col (around the rest of the form) */
			#col-side-b .module.module_propertycontact section, #col-side-b .module.module_propertycontact div.content {
			
			padding-left:10px; 
			padding-right:10px;
			background:url() repeat-y; 
			border:none;;
			}

		/*Controls portion of right col (extra space under contact form) */
			#col-side-b .module.module_propertycontact footer {
			display:none;	
			}

		/* Top Contact CSS To Adjust the Padding of the Business telephone address */
			#col-side-b .module.module_bizcard .tel{padding:9px;}

		/* Label Text Color */
			.module.module_propertycontact #RequestInfoSection fieldset label{color:#191919;}

		/* ~~~~~ End Contact Form Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		/* ~~~~~ Begin Featured Searches Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

			.module_featuredsearches {}

		/* ~~~~~ End Featured Searches Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		/* ~~~~~ Unhide Titles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
		/*
		 * These titles are hidden in the global stylesheets
		 * For consistent titles on a default site they must be un-hidden
		*/
			body #container .module.module_sellersresources header,
			body #container .module.module_buyersresources header,
			body #container .module.module_aboutus header{ display:block; }
		/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


		/* Neighborhood Values search options headings */
			body#bd_neighborhoodvalues #container #body #col-center .module.module_valuesoptions section article header > h4{}

/* ====== END GLOBAL MODULE STYLES ========================================================= */





/* ====== LISTINGS STYLES ========================================================= */

		/* ~~~~~ Begin Interior Listings ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
		
		
		/* ~~~~~ Begin Listings Results ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

		/* List View Styles */
			#module_list .listings .pos.pos_listing .price,
			#module_list .listings .pos.pos_listing .adr.fn,
			#module_list .listings .pos.pos_listing .details .bedrooms,
			#module_list .listings .pos.pos_listing .details .bathrooms,
			#module_list .listings .pos.pos_listing .details .type,
			#module_list .listings .pos.pos_listing .details .size,
			#module_list .listings .pos.pos_listing .details .mls,
			#module_list .listings .pos.pos_listing .description,
			.listings article .status,
			.listings article .status b,
			#module_list .listings .pos.pos_listing .a-i{color:#191919;}
			#module_list .listings .pos.pos_listing .a-i:hover{color:#444;}


		/* List View Styles */
			#module_photo .listings .pos.pos_listing .price,
			#module_photo .listings .pos.pos_listing .adr,
			#module_photo .listings .pos.pos_listing .status b{color:#191919;}

		/* Map View Styles */
		
		/* Price */
			body .infowindow .price{ color: #191919;  }
		
		/* Address */
			body .infowindow .adr,
			body .infowindow .street-address,
			body .infowindow .locality,
			body .infowindow .region,
			body .infowindow .postal-code{ color: #191919; }
		
		/* Details */
			body .infowindow .details span,
			body .infowindow .bedrooms,
			body .infowindow .bathrooms,
			body .infowindow .type,

			body .infowindow .size,
			body .infowindow .mls,
			body .infowindow .description,
			body .infowindow .courtesyof,
			body .infowindow .status{ color: #191919 !important;}
		
		/* Buttons */
			body .infowindow .buttons,
			body .infowindow .buttons a,
			body .infowindow .buttons a .a-i{ color: #191919 !important; }

		/* Results Table */
			#module_map section .listing-mini-address.adr,
			#module_map section .listing-mini-price .listing-mini-price-body.price.hmoney{color:#191919;}

		/* Listing Detail Overview */
			.module.module_listing_detail .col-b.address.vcard .adr.fn,
			.module.module_listing_detail .col-b.address.vcard .price,
			#rvl_results .pos.pos_listing .price,
			#rvl_results .pos.pos_listing .adr.fn,
			#rvl_results .pos.pos_listing .details .bedrooms,
			#rvl_results .pos.pos_listing .details .bathrooms,
			#rvl_results .pos.pos_listing .details .size,
			#rvl_results .pos.pos_listing .details .status,
			#rvl_results .pos.pos_listing .details .mls,
			#col-side-b .module.module_mortgage .mortgage_calculation div,
			#col-side-b .module.module_mortgage .mortgage_calculation li label,
			#MortgageCalculatorSection fieldset ul li label,
			#ScheduleAShowingSection label,
			#col-center .module.module_mortgage .mortgage_calculation div{color:#191919;}

		/* Neighborhood Values Results */
			.module.module_listings.listings_compare .street-address,
			.module.module_listings.listings_compare .locality,
			.module.module_listings.listings_compare .region,
			.module.module_listings.listings_compare .postal-code,
			.module.module_listings.listings_compare .price{color:#191919;}


		/* Office Information */
			.module.module_offices .adr.fn,
			.module.module_offices .details{color:#191919;}
			.module.module_offices #map{height:300px;}


		/* Endorsements */
			.module_CreateEndoresements a{color:#191919 !important;}


/* ====== END LISTINGS STYLES ========================================================= */

/* ~~~~~ Search Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

   .module.module_search {background:none;}
   #bd_home #module_Properties header {margin-top:0px;
   									   width:949px;
									   margin-left:-16px;
									   margin-top:-15px;
									   height:34px;
									   text-align:center;
									   }
   #bd_home #module_Properties header h2 {margin-top:7px;
   										  margin-left:16px;
										  background:url(/CustomData/150017456/images/line.png) no-repeat;
										  background-position:center bottom;
										  background-size:420px 1px;
										  }
   #bd_home #module_Properties section {width:932px;}
   #bd_home #module_Properties section .searchtext {width:233px;}
   #bd_home #module_Properties section .minprice {width:121px;}
   #bd_home #module_Properties section .maxprice {width:121px;}
   #bd_home #module_Properties section .beds {width:103px;}
   #bd_home #module_Properties section .baths {width:103px;}
   #bd_home #module_Properties section .searchoptions {width:112px;}
   #bd_home #module_Properties section .searchoptions .searchoptions {width:98px;
   																	  padding-bottom:6px;
																	  }
																	  
/* ~~~~~ End Search Module ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */   

/* ~~~~~ QR Code ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.QRCode img{height:125px; width:125px;}
.QRCode {float:right;}

/* ~~~~~ End QR Code ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~ Featured Searches Styling ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#bd_home .module.module_featuredsearches article{margin-left:20px!important;}
#bd_home .module.module_featuredsearches article a{opacity:1!important;}
#bd_home .module.module_featuredsearches article a:hover {color:#eee!important;
														  text-decoration:underline;
														  opacity:.6!important;
														  }
														  
/* ~~~~~ End Featured Searches Styling ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~ Right Column Styling ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#bd_home #col-side-b.col .vcard.module.module_bizcard{text-align:center;}
#bd_home #col-side-b.col .vcard.module.module_bizcard section{border:none;}
#bd_home #col-side-b.col .vcard.module.module_bizcard header{border:none;}
#bd_home .module.module_propertycontact {margin-top:25px;
										 margin-bottom:25px;
										 text-align:right;
										 }
#bd_home .module.module_propertycontact h3 {text-align:center;
											padding-top:8px;
											margin-right:6px;
											background:url(/CustomData/150017456/images/line.png) no-repeat;
											background-position:center bottom;
											background-size:90% 1px;
											}
#col-side-b.col .module.module_localareasearch h3{background:url(/CustomData/150017456/images/line.png) no-repeat;
												  background-position:center bottom;
												  background-size:100% 1px;
												  text-align:center;
												  }
#col-side-b.col .module.module_localareasearch .panels {background-color:#fff;
														border:solid 1px #151515;
														margin-top:5px;
														}

/* ~~~~~ End Right Column Styling ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~ Social Media and Slideshow ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.socialSide{float:right;
			background:url(/CustomData/150017456/images/SocialSide.png) no-repeat;
			width:240px;
			height:300px;
			text-align:center;
			}
.socialSide img {height:100px;
				 opacity:.6;
				 }
.socialSide img:hover {opacity:1.0;}
#bd_home .socialHead {display:none!important;}
.socialHead img{height:80px;}
.socialHeaderLeft {position:absolute;
				   top:40px;
				   margin-left:-15px;}
.socialHeaderRight {position:absolute;
					top:40px;
					margin-left:745px;
					}
.ContainerBottom {width:980px;
				  height:24px;
				  background:url(/CustomData/150017456/images/ssbottom.png) repeat-x;
				  }
.mainContainer{width:980px;
			   height:300px;
			   }

.slideshow{float:left;
		   width:740px;
		   height:300px;
		   }

/* ~~~~~ End Social Media and Slideshow ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~ Interior Page Styling ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.module.module_customcontent,
.module.module_customcontent h1,
.module.module_customcontent h2,
.module.module_customcontent h3{color:#191919;}
.module.module_search {background:none;}

/* ~~~~~ Interior Page Styling ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ====== USER CREATED STYLES ========================================================= */


/* ====== END USER CREATED STYLES ========================================================= */